##Beijing Multi-Site Air-Quality Analysis

**Importing necessary libraries**

In [8]:
import pandas as pd
import numpy as np
import random
from sklearn import preprocessing

**Reading all the csv data as Dataframe using pandas**

In [9]:
df1 = pd.read_csv("PRSA_Data_Aotizhongxin_20130301-20170228.csv")
df2 = pd.read_csv("PRSA_Data_Changping_20130301-20170228.csv")
df3 = pd.read_csv("PRSA_Data_Dingling_20130301-20170228.csv")
df4 = pd.read_csv("PRSA_Data_Dongsi_20130301-20170228.csv")
df5 = pd.read_csv("PRSA_Data_Guanyuan_20130301-20170228.csv")
df6 = pd.read_csv("PRSA_Data_Gucheng_20130301-20170228.csv")
df7 = pd.read_csv("PRSA_Data_Huairou_20130301-20170228.csv")
df8 = pd.read_csv("PRSA_Data_Nongzhanguan_20130301-20170228.csv")
df9 = pd.read_csv("PRSA_Data_Shunyi_20130301-20170228.csv")
df10 = pd.read_csv("PRSA_Data_Tiantan_20130301-20170228.csv")
df11 = pd.read_csv("PRSA_Data_Wanliu_20130301-20170228.csv")
df12 = pd.read_csv("PRSA_Data_Wanshouxigong_20130301-20170228.csv")

**Merging all the dataframes into single dataframe**

In [10]:
frames = [df1, df2, df3,df4, df5, df6,df7, df8, df9,df10,df11, df12]
data = pd.concat(frames)

**Using info() function to know a concise summary of a DataFrame**

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 420768 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   No       420768 non-null  int64
 1   year     420768 non-null  int64
 2   month    420768 non-null  int64
 3   day      420768 non-null  int64
 4   hour     420768 non-null  int64
 5   PM2.5    412029 non-null  float64
 6   PM10     414319 non-null  float64
 7   SO2      411747 non-null  float64
 8   NO2      408652 non-null  float64
 9   CO       400067 non-null  float64
 10  O3       407491 non-null  float64
 11  TEMP     420370 non-null  float64
 12  PRES     420375 non-null  float64
 13  DEWP     420365 non-null  float64
 14  RAIN     420378 non-null  float64
 15  wd       418946 non-null  object
 16  WSPM     420450 non-null  float64
 17  station  420768 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 61.0+ MB

**Identifying the data types of all the columns in the dataframe**

In [13]:
data.dtypes

No           int64
year         int64
month        int64
day          int64
hour         int64
PM2.5      float64
PM10       float64
SO2        float64
NO2        float64
CO         float64
O3         float64
TEMP       float64
PRES       float64
DEWP       float64
RAIN       float64
wd          object
WSPM       float64
station     object
dtype: object

**Using describe function**

**The describe() function in pandas is very handy in getting various summary statistics.This function returns the count, mean, standard deviation, minimum and maximum values and the quantiles of the data**

In [14]:
data.describe()

                  No           year  ...           RAIN           WSPM
count  420768.000000  420768.000000  ...  420378.000000  420450.000000
mean    17532.500000    2014.662560  ...       0.064476       1.729711
std     10122.116943       1.177198  ...       0.821004       1.246386
min         1.000000    2013.000000  ...       0.000000       0.000000
25%      8766.750000    2014.000000  ...       0.000000       0.900000
50%     17532.500000    2015.000000  ...       0.000000       1.400000
75%     26298.250000    2016.000000  ...       0.000000       2.200000
max     35064.000000    2017.000000  ...      72.500000      13.200000

[8 rows x 16 columns]

**Using head function, identifying the first rows of the data frame**

In [ ]:
data.head()

   No  year  month  day  hour  ...  DEWP  RAIN   wd  WSPM       station
0   1  2013      3    1     0  ... -18.8   0.0  NNW   4.4  Aotizhongxin
1   2  2013      3    1     1  ... -18.2   0.0    N   4.7  Aotizhongxin
2   3  2013      3    1     2  ... -18.2   0.0  NNW   5.6  Aotizhongxin
3   4  2013      3    1     3  ... -19.4   0.0   NW   3.1  Aotizhongxin
4   5  2013      3    1     4  ... -19.5   0.0    N   2.0  Aotizhongxin

[5 rows x 18 columns]

**Using tail function, identifying the last rows of the data frame**

In [ ]:
data.tail()

          No  year  month  day  hour  ...  DEWP  RAIN   wd  WSPM        station
35059  35060  2017      2   28    19  ... -16.2   0.0   NW   2.4  Wanshouxigong
35060  35061  2017      2   28    20  ... -15.1   0.0  WNW   0.9  Wanshouxigong
35061  35062  2017      2   28    21  ... -13.3   0.0   NW   1.1  Wanshouxigong
35062  35063  2017      2   28    22  ... -12.9   0.0  NNW   1.2  Wanshouxigong
35063  35064  2017      2   28    23  ... -15.9   0.0  NNE   1.3  Wanshouxigong

[5 rows x 18 columns]

**Finding Number of Null values in data frame**

In [ ]:
data.isna().sum()

No             0
year           0
month          0
day            0
hour           0
PM2.5       8739
PM10        6449
SO2         9021
NO2        12116
CO         20701
O3         13277
TEMP         398
PRES         393
DEWP         403
RAIN         390
wd          1822
WSPM         318
station        0
dtype: int64

**Replacing the null and nan values with median values**

In [15]:
data['PM10'].fillna(data['PM10'].median(), inplace=True)
data['PM2.5'].fillna(data['PM2.5'].median(), inplace=True)
data['SO2'].fillna(data['SO2'].median(), inplace=True)
data['CO'].fillna(data['CO'].median(), inplace=True)
data['O3'].fillna(data['O3'].median(), inplace=True)

**Renaming the coulmn Names/Labels**

**This approach is done for better understanding which improves the readability of the data set.**

In [16]:
data=data.rename(columns ={'wd':'wind_direction','DEWP':'dew_point_temp','TEMP':'temp','RAIN':'rain','WSPM':'wind_speed','PRES':'pressure'})